.serverUserConfig {
	table {
		margin: 0 0 8px;
		tr {
			line-height: 22px;
		}
		.editable {
			cursor: pointer;
			&:hover {
				color: hwb(var(--primaryColor));
				text-decoration: underline;
			}
		}
	}
}
